# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# AI Agents
.superpowers
docs/superpowers/*

# Node dependencies
node_modules

# Logs
logs
*.log
yarn-error.log

# Misc
.DS_Store
.fleet
.idea
.worktrees

# Environment
.env
.env.*
!.env.example
